<!-- 	header start-->
		<header>
			<div class="navbar navbar-color navbar-fixed-top" id="topnav">
			  <div class="container">
		      <div class="navbar-header">
		        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span> 
		        </button> 
		      </div>
		      <div class="col-sm-3 col-xs-9 logo-image">
		      	<img class="img-responsive"src="image/sample-logo@2x.png">
		      </div>
			    <div class="col-sm-9  col-xs-12">
		      	<div class="navbar-collapse collapse">
		          <ul class="nav navbar-nav">
		            <li class="active"><a href="#home">HOME</a></li>
		            <li><a href="#service">SERVICES</a></li>
		            <li><a href="#about">ABOUT US</a></li>
		            <li><a href="#project">PROJECTS</a></li>
		            <li><a href="#contact">CONTACT US</a></li>
		          </ul>
		        </div><!--navbar-collapse end -->    
		      </div>
				</div>
			</div>
		</header><!-- 	header end -->

		<!-- 	banner start -->
		<section class="banner">
			<img src="image/banner.jpg">
		</section><!-- 	banner end -->

		<!-- 	Welcome start -->
		<section class="Welcome">
			<div class="container">
				<h2>Welcome</h2>
				<p>
					Nature, in the broadest sense, is the natural, physical, or material world or universe. "Nature" can refer to the phenomena of the physical world, and also to life in general. The study of nature is a large part of science. ... Within the various uses of the word today, "nature" often refers to geology and wildlife.	Nature, in the broadest sense, is the natural, physical, or material world or universe. "Nature" can refer to the phenomena of the physical world, and also to life in general. The study of nature is a large part of science. ... Within the various uses of the word today, "nature" often refers to geology and wildlife.
				</p>
			</div>
		</section><!-- 	Welcome end -->

		<!-- service start -->
		<section class="service">
			<div class="container">
				<h2>Service</h2><br>
				<div class="col-sm-3">
					<div class="box">
						<p><img src="image/service1.jpg"></p>
						<p>
							Nature, in the broadest sense, is the natural, physical, or material world or universe. "Nature" can refer to the phenomena of the physical world, and also to life in general. The study of nature is a large part of science. ... Within the various uses of the word today, "nature" often refers to geology and wildlife.
						</p>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="box">
						<p><img src="image/service2.jpg"></p>
						<p>
							Nature, in the broadest sense, is the natural, physical, or material world or universe. "Nature" can refer to the phenomena of the physical world, and also to life in general. The study of nature is a large part of science. ... Within the various uses of the word today, "nature" often refers to geology and wildlife.
						</p>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="box">
						<p><img src="image/service3.jpg"></p>
						<p>
							Nature, in the broadest sense, is the natural, physical, or material world or universe. "Nature" can refer to the phenomena of the physical world, and also to life in general. The study of nature is a large part of science. ... Within the various uses of the word today, "nature" often refers to geology and wildlife.
						</p>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="box">
						<p><img src="image/service1.jpg"></p>
						<p>
							Nature, in the broadest sense, is the natural, physical, or material world or universe. "Nature" can refer to the phenomena of the physical world, and also to life in general. The study of nature is a large part of science. ... Within the various uses of the word today, "nature" often refers to geology and wildlife.
						</p>
					</div>
				</div>
			</div><br><br>
		</section><!-- service end -->

		<!-- footer start -->
		<footer class="footer">
			<p>© 2017 Neoito Technologies Pvt Ltd.</p>
		</footer>
		<!-- footer end -->